body{
   background: url("images/background_index.png");
	background-color: lightgrey;
	color: black;
}
/*Menú*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 98.8%;
  font-family: "Copperplate", Fantasy;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: blue;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Menú*/

h1.portada{
	font-family: Fantasy;	
	text-align: center;
}

a.tres{
  font-family: Ms Sans Serif, Sans-serif;;
  text-align: right;
  padding:30px
}

img.portada{
display:block;
margin:auto;
 border-style: solid;
  border-color: blue;
}

img:hover.portada {
  opacity: 0.5;
}

table, td, th {
  border: 1px solid black;
}

td {
  text-align: center;
}

table.primera {
  border-collapse: collapse;
   width: 80%;
   border: blue 5px solid;
}

th.unico {
  background-color: black;
  color: white;
  Font-family: MS Sans Serif, sans-serif;
}

tr.gris{
	 background-color: white;
}

table{
margin:auto;
}

tr.gris:hover {background-color: blue;}

th.contenido{
	Font-family: MS Sans Serif, sans-serif;
}

th.izquierda{
	Font-family: MS Sans Serif, sans-serif; 
	text-align: left;
	padding: 10px
}

table, td, th.segunda{border: none;}
